!!! 5
%html
  %head
    %title
      - if uri_info[:match?] then
        #{uri_info[:path]} -
        #{uri_info[:repos]} #{uri_info[:ref]} by
        #{uri_info[:user]} at
        #{uri_info[:host]}
      - else
        #{doc_uri}
      \- #{App::NAME}
    %meta(charset='utf-8')
    %link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    %link(rel='stylesheet' href='/stylesheets/syntax-highlighting.css')
  %body
    -# FIXME: Add useful header, nagivation etc.
    .container
      #content
        %pre.help= html_help
      #footer
        %p
          This document is automatically converted
          from
          %a(href='#{doc_uri}') #{doc_uri}
          by
          %a(href='/') #{App::NAME}
          at #{conversion_time}.
        %address
          %a(href='/') #{App::NAME}
          @@VERSION@@
          &#x2014;
          Copyright &copy; 2011-2012
          %a(href='http://whileimautomaton.net/') Kana Natsuno
          (
          %a(href='http://twitter.com/kana1')> @kana1
          )
          &#x2014;
          %a(href='#{App::GITHUB_REPOS_URI}') Watch changes
          &#x2014;
          %a(href='#{App::GITHUB_REPOS_URI}/issues') Report issues

-# __END__
